@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

/* Animations */
@keyframes slideInFromBottom {
    0% {
      transform: translateY(5%);
    }
    100% {
      transform: translateY(0);
    }
  }

/* Main styling */
body {
    background: fixed;
    background-size: cover;
    min-height: 98vh;
    margin: 0px;
    background-image: url(resources/site_bg.jpg);
    background-color:rgb(32, 10, 10);
    color: white;
    
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    line-height: 1.5rem;
}

#content, footer {
    animation: 0.25s ease-out 0s 1 slideInFromBottom;
}

.div_flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div_grid {
    display: inline-grid;
    grid-template-columns: minmax(0,5fr) minmax(0,5fr);
    max-width: 100%;
    width: 1250px;
    gap: .75rem;
}

.div_contents_grid {
    display: inline-grid;
    grid-template-columns: minmax(0,3fr) minmax(0,7fr);
    max-width: 100%;
    width: 1250px;
    gap: .75rem;
}

.div_contents_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .75rem;
}

.div_contents_individual {
    background-color:#0009;
    border:4px solid rgba(223, 46, 46, 0.133);
    box-sizing:border-box;
    border-radius:5px;
    padding:1.5rem;
    color: white;
    resize:none;
    width:100%;
    white-space: normal;
    background:linear-gradient(to bottom,#181a1b99,#000c);
    background-attachment:fixed;
}

.div_contents_navigation {
    background-color:#0009;
    border:4px solid rgba(223, 46, 46, 0.133);
    box-sizing:border-box;
    border-radius:5px;
    padding:0px;
    color: white;
    resize:none;
    width:70rem;
    height:3.5rem;
    white-space: normal;
    background:linear-gradient(to bottom,#181a1b99,#000c);
    background-attachment:fixed;
}

#right_content {
    line-height: 1.75rem !important;
}

#right_content table td + td { 
    border-left:1px solid grey; 
    padding-left: 5px;
}

#right_content table th + th {
    border-left:3px solid grey; 
    padding-left: 5px;
}

#right_content table th {
    border-bottom:3px solid grey; 
}

#right_content table td {
    border-bottom: 1px solid grey; 
    padding-right: 5px;
}

#right_content table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px;
}

#interests li, #interests p {
    list-style-position: outside;
    text-indent: -0.1em;
    padding-left: 1em;
}

.div_marquee {
    background-color:#0009;
    border:3.5px solid rgba(223, 46, 46, 0.133);
    box-sizing:border-box;
    padding-top: 20px;
    padding-bottom: 5px;
    border-radius:5px;
    color:#ddd;
    resize:none;
    width: 75rem;
    height: 4rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    display: flex;
    background:linear-gradient(to bottom,#181a1b99,#000c);
    background-attachment:fixed;
}

.js_marquee {
    white-space: nowrap;
    overflow: hidden; 
    position: absolute;
    bottom: 11.75px;
    display: flex;
    gap: 4px;
    animation: marquee 11s linear infinite alternate;
}

.js_marquee img {
    object-fit: contain;
    display: block;
}

@keyframes marquee {
    from {
        transform: translateX(0);
      }
      to {
        transform: translateX(calc(-100% + 1200px)); /* Moves left until last button is aligned */
      }
}

.website_title {
    font-size: 5em;
    float: right;
    text-shadow:1px 1px 15px #ff0000, 1px 1px 15px #aca6a6;
}

.sub_title {
    text-shadow:1px 1px 10px #ff0000, 1px 1px 15px #aca6a6;
}

h1, .section_title {
    font-family: SUSE, sans-serif;
    text-shadow:1px 1px 6.5px black, 1px 1px 6.5px #ccc;
}

b {
    color: lightcoral;
}

h2, h3, p, tr {
    font-family: Mukta, sans-serif;
    font-weight: 400;
}


.current_page {
    color: firebrick;
    font-weight: bold;
    text-shadow:1px 1px 10px #6d1010, 1px 1px 10px #ccc;
}

.navbar {
    position: relative;
    bottom: 22px;
}

a {
    color:white;
    text-decoration: none;
}

a:hover, .ui-widget-content a:hover {
    color:orange !important;
    font-weight: bold;
    text-shadow:1px 1px 10px #a17600, 1px 1px 10px #ccc;
}

.div_contents_navigation ul > li, #webmaster ul > li{
    display: inline-block;
    margin: 56px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.footer {
    text-align: center;
    color: white;
    line-height: .75rem;
}

.details {
    display: none;
    font-family: Mukta, sans-serif;
    font-weight: 400;
    text-indent: 50px;
    overflow: hidden;
}

.project {
    font-family: Mukta, sans-serif;
    font-weight: 400;
    cursor: pointer;
    user-select: none;
}

.project_link {
    text-decoration: underline !important;
}

.credit_link {
    color: lightcoral !important;
    text-decoration: none !important;
}

.credit_link:hover {
    text-shadow: none !important;
    text-decoration: underline !important;
}

.social_link {
    display: inline-grid;
    grid-template-columns: minmax(0,0.5fr) minmax(0,5fr);
    max-width: 100%;
    width: 1250px;
    gap: .75rem;
    align-items: center;
    line-height: 5px;
}

.codebox {
    border:1px solid black;
    background-color:rgba(0,0,0,0.4);
    white-space: nowrap;
    padding:1px;
    font-size:0.9em;
    display: inline-block;
    scrollbar-width: thin;
    scrollbar-color: grey black;
    width: 53%;
    overflow-x: scroll;
    position: relative;
    top: 10px;
}

#vantajs-bg {
    position:fixed;
    z-index:-1;
    width:100%;
    height:100%;
}

/* Copyright popup styling */
#licensebox_txt pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.ui-dialog {
    background-color: rgb(26, 17, 17) !important;
    color: white !important;
    border: 4px solid rgba(223, 46, 46, 0.133) !important;
}

.ui-dialog-titlebar {
    background: #221f1f !important;
    border: 2px solid rgba(36, 3, 3, 0.521) !important;
    color: white !important;
}

.ui-dialog-content, .ui-widget-content a {
    color: white !important;
}

/* Dropdown styling */
.dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    left: -3.5rem;
    background-color: #181a1bdd;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
    z-index: 1;
}

.dropdown-content a {
    padding: 6px 16px;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {display: block;}

/* Webrings widget HTML styling */
body.webrings_widget {
    background-image: none;
    background-color: transparent;
    display: block;
}

body.webrings_widget h1 {
    text-align: left !important;
}

body.webrings_widget div {
    text-align: center;
}

/* Vocaloid shrine styling */
body.vocaloid_shrine {
    background-image: url(resources/vocaloid_bg.jpg) !important;
    cursor: url(resources/cursors/vocaloid-fukase-normal.png), auto;
}

body.vocaloid_shrine #content, body.vocaloid_shrine footer {
    animation: none;
}

body.vocaloid_shrine #main_content h2 {
    line-height: 2rem;
}

body.vocaloid_shrine .div_contents_individual {
    background-color:#0009;
    border:4px solid rgba(227, 126, 10, 0.133);
    background:linear-gradient(to bottom,#870d0499,rgba(87, 68, 7, 0.8));
}