<head>
    <link rel="stylesheet" href="https://furryring.neocities.org/onionring.css" type="text/css" media="all">
    <link rel="stylesheet" href="https://crtstatic.neocities.org/dsring/onion/onionring.css" type="text/css" media="all">
    <link href="/style.css" rel="stylesheet" type="text/css" media="all">
</head>

<body class="webrings_widget">
    <div>
        <!-- <iframe width="180" height="180" style="border:none" src="https://dimden.neocities.org/navlink/" name="neolink"></iframe> -->                   
        <div id='touhou-ring' style="float: right;">
            <script type="text/javascript" src="https://glassplanet.neocities.org/webring/touhou/onionring-variables.js"></script>
            <script type="text/javascript" src="https://glassplanet.neocities.org/webring/touhou/onionring-widget.js"></script>
        </div>  
        <div id='wiiring' style="width: 140px; /* <- Set any width you'd like! */">
            <script src="https://jeith.com/assets/webring/wii-ring.js"></script>
            <wii-ring site="YOUR URL HERE" variant="wii-mini"></wii-ring>
        </div>   
        <div id='furryring'>
            <script type="text/javascript" src="https://furryring.neocities.org/onionring-variables.js"></script>
            <script type="text/javascript" src="https://furryring.neocities.org/onionring-widget.js"></script>
        </div>
        <iframe title="femboy webring" style='border-radius:25px; border: 2px solid deeppink' frameborder="no" height='70px' width='250px' src='https://femring.neocities.org/meow?user=YOUR-NAME'></iframe>
        <div id="smallvocaring">
            <script src="https://webring.adilene.net/smallwidget.js"></script>
        </div>
        <table id='roring'>
            <tr>
                <td>
                    <a href="https://lopster.neocities.org/roring/lolzers/prev.html?id=YOUR ID HERE"> <img src="https://lopster.neocities.org/roring/fotos/arr.png" height="30"></a>
                </td>
                <td>
                    <a href="https://lopster.neocities.org/roring/roring.html"><img src="https://lopster.neocities.org/roring/fotos/roring%20chan.png" width="150"></a>
                </td>
                <td>
                    <a href="https://lopster.neocities.org/roring/lolzers/next.html?id=YOUR ID HERE"><img src="https://lopster.neocities.org/roring/fotos/gimme.png" height="30"></a>
                </td>
            </tr>
        </table>
        <div id='dsring'>
            <script type="text/javascript" src="https://crtstatic.neocities.org/dsring/onion/onionring-variables.js"></script>
            <script type="text/javascript" src="https://crtstatic.neocities.org/dsring/onion/onionring-widget.js"></script>
        </div>
        <div id='epicring'>
            <script type="text/javascript" src="https://epic1.neocities.org/epicring/onionring-variables.js"></script>
            <script type="text/javascript" src="https://epic1.neocities.org/epicring/epicring-widget.js"></script>
        </div>    
        <div id='freepalestine_webring'>
            <script src="https://sitesforpalestine.neocities.org/ring.js"></script>
        </div>           
    </div>
</body>